@font-face {
    font-family: 'Fraunces 144pt';
    src: url('./assets/fonts/fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf');
}

@font-face {
    font-family: 'Manrope';
    src: url('./assets/fonts/manrope/Manrope-VariableFont_wght.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: auto;
    width: 100%;
    max-width: 1114px;
}

.button {
    color: var(--dark-purple, #24053E);
    text-align: center;
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.18px;
    padding: 15px 30px;
    background-color: #44FFA1;
    text-decoration: none;
    border: 2px solid #44FFA1;
    transition: all .2s ease-in-out;

    &:hover{
        background-color: transparent;
        color: #44FFA1;
    }
}

.nav {
    width: 100%;
    position: absolute;
    z-index: 999;

    .container {
        display: flex;
        justify-content: space-between;
        height: 100px;
        align-items: center;
    }

    a {
        color: #fff;
        font-family: Manrope;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: -0.18px;
        border-bottom: 3px solid #44FFA1;
        text-decoration: none;

        &:hover{
            color: #44FFA1;
        }
    }

}

.header {
    position: relative;
    width: 100%;
    background-color: #24053E;
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 300px;

    h2 {
        color: var(--white, #FFF);
        text-align: center;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Fraunces 144pt;
        font-size: 80px;
        font-style: normal;
        font-weight: 600;
        line-height: 80px;
        max-width: 635px;
        margin-bottom: 30px;
    }

    img {
        max-width: 715px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%);
        width: 100%;
    }
}

.features {
    background-color: #FCF8FF;
    padding-bottom: 150px;

    .wrapper {
        display: flex;
        gap: 30px;
        margin-top: 300px;

        .feature {
            text-align: center;

            span {
                color: var(--dark-purple, #24053E);
                text-align: center;
                font-family: Fraunces 144pt;
                font-size: 24px;
                font-style: normal;
                font-weight: 600;
                line-height: 40px;
                width: 40px;
                display: inline-block;
                border-radius: 50%;
                border: 1px solid #24053E;
                margin-bottom: 50px;
            }

            h3 {
                color: var(--dark-purple, #24053E);
                text-align: center;
                font-family: Fraunces 144pt;
                font-size: 32px;
                font-style: normal;
                font-weight: 600;
                line-height: 40px;
                margin-bottom: 30px;
            }

            p {
                color: var(--dark-purple, #24053E);
                text-align: center;
                font-feature-settings: 'clig' off, 'liga' off;
                font-family: Manrope;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 32px;
            }
        }
    }
}

.founder {
    position: relative;
    .container {
        padding-top: 110px;

        img {
            width: 40%;
            position: absolute;
            left: 0;
            top: 0;
            z-index: -1;
        }
    }

    .wrapper{
        margin-top: 110px;
        padding-top: 200px;
        position: relative;
    }

    .box {
        background-color: #24053E;
        padding: 64px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: flex-start;
        bottom: 0;
        right: 0;
        width: 70%;
        margin-left: auto;

        h2 {
            color: var(--white, #FFF);
            font-feature-settings: 'clig' off, 'liga' off;
            font-family: Fraunces 144pt;
            font-size: 56px;
            font-style: normal;
            font-weight: 600;
            line-height: 64px;
        }

        p {
            color: var(--white, #FFF);
            font-feature-settings: 'clig' off, 'liga' off;
            font-family: Manrope;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 32px;
        }
    }
}

.footer{
    margin: 110px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    >img{
        margin-bottom: 50px;
    }

    >div{
        width: 100px;
        display: flex;
        justify-content: space-between;
    }
}